{{#d-modal-body id="gif-modal"}}
  <div class="gif-input">
    <Input
      @type="text"
      name="query"
      autofocus={{true}}
      {{on "keyup" (action "refresh")}}
    />

    {{#if loading}}
      {{loading-spinner size="small"}}
    {{/if}}
  </div>

  {{#if currentGifs}}
    <div class="gif-content">
      <div class="gif-box">
        {{gif-result-list
          content=currentGifs
          pick=(action "pick")
          loadMore=(action "loadMore")
        }}
      </div>
    </div>
  {{else}}
    <div class="gif-no-results">{{theme-i18n "gif.no_results"}}</div>
  {{/if}}
{{/d-modal-body}}

<div class="modal-footer gif-modal">
  <img src={{providerLogo}} />
</div>