{{#d-modal-body id="gif-modal"}}
  <div class="gif-input">
    {{input
      type="text"
      name="query"
      autofocus="true"
      key-up=(action "refresh")
    }}
    {{#if loading}}
      {{loading-spinner size="small"}}
    {{/if}}
  </div>
  <div class="gif-content">
    <div class="gif-box">
      {{#if currentGifs}}
        {{gif-result-list content=currentGifs pick=(action "pick") loadMore=(action "loadMore")}}
      {{else}}
        <div class="gif-no-results">{{theme-i18n "gif.no_results"}}</div>
      {{/if}}
    </div>
  </div>
{{/d-modal-body}}
<div class="modal-footer gif-modal">
  <img src="{{theme-setting "theme_uploads.giphy-logo"}}">
</div>
